body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: grey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    width: 260px;
    height: 50px;
    background-color: #333;
    color: green;
    text-align: right;
    padding: 10px;
    font-size: 2em;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    width: 60px;
    height: 60px;
    background-color: #98979b;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
}

.button:active {
    background-color: #1e8294;
}
